django==2.2.*
djangorestframework
coreapi

# project
django-minio-storage
psycopg2

# dev & tests
coverage
flake8
Pillow==7.*
python-magic

# dev project
django-debug-toolbar

# prod
gunicorn[gevent]
